$screen: "only screen" !default;

$small: "#{$screen} and (max-width: 519px)" !default;
$large: "#{$screen} and (min-width: 520px)" !default;

@mixin breakpoint($point) {
  @if $point == small {
    @media #{$small} { @content; }
  }
  @else if $point == large {
    @media #{$large} { @content; }
  }
  @else {
    @warn "This breakpoint '#{$point}' doesn't exist!";
  }
}


